// src/App.scss
$primary-color: #3498db;

.App {
  width: 100%;
  min-height: 100vh;
  // font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

.avatar-space {
  margin-right: 1rem;
}


