.table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .search-bar {
    margin-bottom: 16px;
  }
  
  .attendance-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .ant-table {
    overflow-x: auto;
  }
  
  .ant-pagination {
    margin-top: 16px;
  }
  